<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load sass_tags %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,300,regular,italic,500,600,600italic,700,800,900" media="all">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'forum/style.scss' %}">
    <title>Lending Looop</title>
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <a class="navbar-brand" href="{% url 'forum:index' %}">
            <img src="/static/forum/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Lending Loop
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            <span class="navbar-text navbar-user">
                {% if user.is_authenticated %}
                <ul>
                    <li class="navbar-user__username">
                        Hi {{ user.username }}!
                    </li>
                    <li>
                        <a class="btn btn-dark" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
                {% else %}
                    <a class="btn btn-primary" href="{% url 'login' %}">login</a>
                {% endif %}
            </span>
        </div>
    </nav>
    <main role="main" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>

</html>